extends layout 

block content 
  .container-fluid
    .col-md-12#houseTitle #{houseInfo.name}
      div.hiddenID#houseID #{houseInfo._id}
    .col-md-12#welcomeHome Welcome home, #{currentUser.name}
      div.hiddenID#currentID #{currentUser._id}
    .col-md-12#createTask
      button.btn.btn-primary#createButton(type='submit') Create Task
    .row#mainDash
      .col-md-2.topRow#roommateList
        div.title Roommates 
        for user in houseInfo.users 
          div.roommate #{user.name}
      .col-md-6.topRow#activeTasks
        div.title Your Tasks 
      
        for task in activeTasks 
          -if (task.active == true)
            .row.activeTask 
              div.hiddenID.id #{task._id}
              .col-md-2.overdue 
                -if (task.dueDate - (new Date()) < 0) 
                  div Overdue
              .col-md-2.assigner Assigned by #{task.creatorID.name}
              .col-md-4.task #{task.name}
              .col-md-2.dueDate #{task.dueDate.toString().substring(0,10)}
              .col-md-2.complete 
                button.btn.btn-primary.completeBtn(type='button') Complete
      .col-md-4.topRow#assignedTasks
        div.title Assigned Tasks 
        for task in assignedTasks 
          .row.assignedTask
            .col-md-6.task #{task.name}
            .col-md-3.assignee #{task.assignedID.name}
            -if (task.active == true)
              .col-md-3.complete Incomplete 
            -else if (task.active == false) 
              .col-md-3.complete Complete
            div.hiddenID.id #{task._id}
    
    
    #createForm.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Create A New Task
          .modal-body
            .form-group
              label(for='name') Task Name 
              input#name.form-control(type='text', placeholder='Clean up your shit')
            .form-group
              label(for='assigned') Assign
              select#assigned.form-control(placeholder='Choose a roommate')
                for user in houseInfo.users
                  option #{user.name}
            .form-group
              label(for='dueDate') Due Date
              input#dueDate.form-control(type='Date', placeholder='When do you need it done by?')

            .modal-footer
              button.btn.btn-primary.submit(type='button') Create
    
    //- for editing assigned tasks   
    #editForm.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Edit Task 
          .modal-body
            .form-group
              label(for='name') Task Name 
              input#editName.form-control(type='text', placeholder='Clean up your shit')
              input#taskID.form-control(type='hidden')
            .form-group
              label(for='assigned') Assign
              select#editAssigned.form-control(placeholder='Choose a roommate')
                for user in houseInfo.users
                  option #{user.name}
            .form-group
              label(for='dueDate') Due Date
              input#dueDate.form-control(type='Date', placeholder='When do you need it done by?')

            .modal-footer
              button.btn.btn-error.delete(type='button') Delete
              button.btn.btn-primary.submit(type='button') Update 
              
